.sidebar {
  background-color: #10171a;
  width: 4.5rem;
  min-width: 4.5rem;
  display: flex;
  flex-direction: column;
}

.menu > button {
  padding: 1.2rem 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.3rem;
  transition: all 0.3s;
}
.menu > button:global {
  animation: fade-in-from-left 0.5s;
}

.menu > button:hover,
.menu > button:focus {
  background-color: #2b363b;
  color: #fff;
  cursor: pointer;
}

.menu > button.active {
  background-color: #2b363b;
  color: #fff;
  position: relative;
}

.menu > button.active::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: #375bb6;
  position: absolute;
  top: 0;
  left: 0;
}

.menu > button > svg {
  width: 1.2rem;
  height: 1.2rem;
}

.footer {
  color: rgba(255, 255, 255, 0.15);
  font-size: 0.8rem;
  margin-top: auto;
  margin-bottom: 4rem;
  transform: rotate(-90deg);
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}
